@model IEnumerable<Department>

@{
    ViewData["Title"] = "Index - Department";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card text-white">
    <div class="card-header bg-primary">Department List</div>
    <div class="card-body text-dark">
        <div align="right">
            <a asp-action="Create" asp-controller="Department" class="btn btn-info text-white"><i class="fas fa-plus"></i> &nbsp; Create</a>
        </div>
        @{ await Html.RenderPartialAsync("_departmentIndexTable");}
    </div>
</div>




