@model EasyERP.Models.ViewModels.EmployeeViewModel

@using EasyERP.Extentions

@{
    ViewData["Title"] = "Delete - Employee";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card text-white">
    <div class="card-header bg-primary">Remove Employee</div>
    <div class="card-body text-dark">
        <div class="">
    <form id="employeeDeleteForm" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group row">
            <div class="col-2 text-primary">
                <label asp-for="Employee.FirstName"></label>
            </div>
            <div class="col-8">
                <input type="text" readonly class="form-control" placeholder="Enter your First Name" asp-for="Employee.FirstName" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-2 text-primary">
                <label asp-for="Employee.LastName"></label>
            </div>
            <div class="col-8">
                <input type="text" readonly class="form-control mt-2" placeholder="Enter your Last Name" asp-for="Employee.LastName" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-2 text-primary">
                <label asp-for="Employee.DepartmentId"></label>
            </div>
            <div class="col-8">
                <select disabled class="form-select mt-2" asp-for="Employee.DepartmentId" asp-items="Model.Departments.ToSelectListItem(Model.Employee.DepartmentId)"></select>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-2 text-primary">
                <label asp-for="Employee.Country"></label>
            </div>
            <div class="col-8">
                <input type="text" readonly class="form-control mt-2" placeholder="Enter your country" asp-for="Employee.Country" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4 offset-2 text-primary">
                <input type="button" id="employeeDeleteSubmit" class="btn btn-primary form-control mt-2 text-white" value="Remove" />
            </div>
            <div class="col-4">
                <a class="btn btn-dark text-white form-control mt-2" asp-controller="Employee" asp-action="Index"><i class="fas fa-arrow-left"></i> &nbsp; Back To List</a>
            </div>
        </div>
    </form>
</div>
    </div>
</div>

@section Scripts{
    
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }

}
