@{
    ViewData["Title"] = "Home Page";
}

<div class="alert alert-success" role="alert">
    <h4 class="alert-heading">Welcome</h4>
    <p>This is a test project. Developed by <a href="https://bd.linkedin.com/in/tahmid-radit-1726a0148">Tahmid Radit</a> </p>
    <hr>
    <p class="mb-0">Used Technologies: ASP.NET Core(.NET 6), HTML, CSS, Bootstrap, AJAX</p>
</div>

